[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
smtp4dev = "*"
sendgrid = "*"
django-allauth = "*"
python-memcached = "*"
pymemcache = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
djangorestframework-jwt = "*"
django-rest-passwordreset = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pillow = "*"
nltk = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
